{% extends 'base.html' %} 

{% block form %}
<form action="/api" method="POST">
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      aria-describedby="emailHelp"
      placeholder="Title"
    />
  </div>
  <div class="form-group">
    <label for="date">Data</label>
    <input
      type="date"
      name="date"
      class="form-control"
      id="date"
      aria-describedby="emailHelp"
      placeholder="Data da publicação"
    />
  </div>
  <div class="form-group">
    <label for="content">Conteúdo</label>
    <input
      type="text"
      name="content"
      class="form-control"
      id="content"
      aria-describedby="emailHelp"
      placeholder="Conteúdo..."
    />
    <small id="emailHelp" class="form-text text-muted">
      Não precisa economizar palavras!
    </small>
  </div>
  <div class="form-group">
    <label for="author">Autor</label>
    <input
      type="text"
      name="author"
      class="form-control"
      id="author"
      aria-describedby="emailHelp"
      placeholder="author"
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      placeholder="email:"
    />
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% endblock form %}
