{% extends 'base.html' %}

{% block posts %}

  <div>
    {% if posts %}
      <h1>POSTS</h1>
      {% for post in posts %}
        <h2>{{post.title}}</h2>
        <div>
          <p>{{post.content}}</p>
          <p>{{post.status}}</p>
        </div>
      {% endfor %}
    {% else %}
        <h1>Não há postagens há mostrar</h1>
    {% endif %}
  </div>

{% endblock posts %}
